body {
    height: 100vh;
    background-color: #2980b9;
    color: #ecf0f1;
}

.Header {
    margin: 0px 0px 20px;
    padding: 20px;
}

.Header > h1 {
    margin: 0;
    font-family: "Pacifico", cursive;
    font-size: 4rem;
    font-weight: lighter;
    text-align: center;
}

.Setup {
    text-align: center;
}

.Setup  div {
    margin-bottom: 20px;
}

.Setup  .InputText {
    padding: 10px 20px;
    border: 0;
    border-bottom: 2px solid #2c3e50;
    background-color: transparent;
    color: #FFF;
    line-height: 50px;
    height: 52px;
}

.Setup  .SpanInput {
    background-color: #3498db;
    color: #ecf0f1;
    border: 0;
    border-bottom: 2px solid #2c3e50;
    font-weight: bold;
    line-height: 50px;
    height: 52px;
    width: 50px;
    text-align: center;
    display: inline-block;
}

.Stopwatch {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 50px 0;
}

.Income {
    font-size: 10rem;
    background-color: #3498db;
    margin: 50px 0;
    font-weight: bold;
    color: #c0392b;
    text-align: center;
}

.BtnContainer {
    text-align: center;
}
